body {
    font-family: sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main {
    margin-top: 20px;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
  }